@media (min-width: 578px) and (max-width: 768px)
  .main
    width: 100%
  .tabs
    justify-content: center
  .tab
    padding: 3px 6px
    margin: 0px 2%
    font-size: 14px

  .contentBlock
    justify-content: center

  .product
    width: 50%
    flex-wrap: wrap

  .main,.contentBlock,.product,.imgBlock
    padding: 0
    margin: 0

@media (min-width: 320px) and (max-width: 577px)
  .main
    width: 100%
  .tabs
    justify-content: center
  .tab
    padding: 3px
    margin: 0 2%
    font-size: 12px

  .contentBlock
    justify-content: center
    flex-wrap: wrap

  .product
    width: 50%
    flex-wrap: wrap

  .main,.contentBlock,.product,.imgBlock
    padding: 0
    margin: 0
